<h1>Editing Product</h1>
<% if @errors %>
	<% @errors.each do |error| %>
	<p class="alert-danger"><%= error %></p>
	<% end %>
<% end %>
<%= simple_form_for @product, url: {action: 'update'}, :method => :put do |f| %>
<%= f.association :category %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :pricing %>
<%= f.button :submit, 'Save Changes' %>
<% end %>
<a href="/products"><h3>Back</h3></a>