<h1>Listing Products</h1>
<% if @products %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.description %></td>
			<td><%= product.pricing %></td>
			<td>
				<a href="/products/<%= product.id %>">Show</a> | 
				<a href="/products/<%= product.id %>/edit">Edit</a> |
				<form action="/products/<%= product.id %>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<button type="submit">Destroy</button>
				</form>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<a href="/products/new"><h3>New Product</h3></a>
