<h1>New Product</h1>
<% if @errors %>
<% @errors.each do |error| %>
<div class="alert-danger"><%= error %></div>
<% end %>
<% end %>
<%= simple_form_for @product do |f| %>
<%= f.association :category %>
<%= f.input :name, placeholder: 'My Product' %>
<%= f.input :description, placeholder: 'This is the best product ever!' %>
<%= f.input :pricing, placeholder: '123.45' %>
<%= f.button :submit %>
<% end %>
<a href="/products"><h3>Back</h3></a>