<h1>New Product</h1>
<%= simple_form_for @product, html: { class: 'form-horizontal' } do |f| %>
<%= f.input :name, placeholder: 'Product Name' %>
<%= f.input :description, placeholder: 'Product Description' %>
<%= f.input :pricing, placeholder: '20.33' %>
<%= f.button :submit %>
<% end %>
